<div>
    <h2>HOME</h2>
    <br />
    <a href="#!/showAll">Show All</a>
    <br/>
    <a href="#!/add">Add New Line</a>
    <br /><br />
    <div>
        <div class="table-container">
            <div>Product ID</div>
            <div>Status</div>
            <div>Position</div>
        </div>
    </div>
    <div class="item-list-container">
        <div data-ng-repeat="item in itemlist">
            <div class="table-container">
                <div class="product-id" data-ng-bind="item.product_id"></div>
                <div class="product-status" data-ng-bind="item.status"></div>
                <div class="product-position" data-ng-bind="item.position"></div>
            </div>
        </div>
    </div>
    <div>
        <h3>Search Product Position</h3>
        <div class="form form-inline">
            <div class="form-group">
                <label class="control-label col-xs-5">Enter Product Id</label>
                <input class="form-control" type="number" data-ng-model="searchProductId"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-ng-click="getProductStatus()">Submit</button>
            </div>
        </div>
        <div data-ng-if="searchProductStatus != ''">
            <label>Current position of product :</label><span data-ng-bind="searchProductStatus"></span>
        </div>
    </div>
</div>